--
-- PostgreSQL database dump
--

\restrict Fi9klVqovjZscT1ndIovpsritOPzhbiRdKA10SxcwSvTddisb5cdsn1raGYvQiD

-- Dumped from database version 17.8
-- Dumped by pg_dump version 17.8

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Booking; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Booking" (
    booking_id character varying NOT NULL,
    room_id character varying NOT NULL,
    teacher_id character varying,
    purpose character varying,
    date date,
    start_time time without time zone,
    end_time time without time zone,
    status character varying,
    approved_by character varying
);


ALTER TABLE public."Booking" OWNER TO postgres;

--
-- Name: Equipment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Equipment" (
    equipment_id character varying NOT NULL,
    room_id character varying NOT NULL,
    computer integer,
    microphone integer,
    type_of_computer character varying,
    whiteboard integer,
    projector integer
);


ALTER TABLE public."Equipment" OWNER TO postgres;

--
-- Name: OTP; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."OTP" (
    request_id character varying NOT NULL,
    email character varying,
    otp_code character varying,
    expired_at timestamp with time zone,
    created_at timestamp with time zone
);


ALTER TABLE public."OTP" OWNER TO postgres;

--
-- Name: Rooms; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Rooms" (
    room_id character varying NOT NULL,
    room_type character varying,
    capacity integer,
    location character varying,
    room_characteristics character varying,
    repair boolean,
    is_active boolean
);


ALTER TABLE public."Rooms" OWNER TO postgres;

--
-- Name: Schedules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Schedules" (
    schedule_id character varying NOT NULL,
    room_id character varying NOT NULL,
    subject_name character varying,
    teacher_name character varying,
    start_time time without time zone,
    end_time time without time zone,
    semester_id character varying,
    date date,
    temporarily_closed boolean,
    teacher_id character varying,
    teacher_surname character varying
);


ALTER TABLE public."Schedules" OWNER TO postgres;

--
-- Name: Semesters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Semesters" (
    semester_id character varying NOT NULL,
    year character varying NOT NULL,
    term smallint,
    start_date date,
    end_date date
);


ALTER TABLE public."Semesters" OWNER TO postgres;

--
-- Name: TokenBlacklist; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."TokenBlacklist" (
    token text NOT NULL,
    expires_at timestamp without time zone NOT NULL
);


ALTER TABLE public."TokenBlacklist" OWNER TO postgres;

--
-- Name: Users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Users" (
    user_id character varying(20) NOT NULL,
    title character varying(10),
    name character varying(50),
    surname character varying(50),
    role character varying(20),
    email character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_verified boolean,
    is_active boolean
);


ALTER TABLE public."Users" OWNER TO postgres;

--
-- Data for Name: Booking; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Equipment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Equipment" (equipment_id, room_id, computer, microphone, type_of_computer, whiteboard, projector) FROM stdin;
eq-26506	26506	50	2	VDI	1	1
eq-26508	26508	50	1	VDI	1	1
eq-26512	26512	50	2	VDI	1	1
eq-150412	150412	50	1	PC	1	1
eq-150413	150413	50	1	PC	1	1
eq-150414	150414	50	1	PC	1	1
eq-150415	150415	50	1	PC	1	1
eq-SeniorProject	SeniorProject	0	0	PC	0	5
eq-555	555	0	0	PC	0	0
eq-5555	5555	6	6	VDI	6	6
eq-456	456	0	0	-	0	0
eq-150411	150411	0	0	-	0	0
eq-26504	26504	45	20	-	1	1
eq-150416	150416	0	0	-	0	0
\.


--
-- Data for Name: OTP; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."OTP" (request_id, email, otp_code, expired_at, created_at) FROM stdin;
85ab1938-e11b-4128-ab05-7dd701392b28	pongpak.te@ku.th	740291	2026-02-23 18:08:20.38+00	2026-02-23 18:03:20.381943+00
\.


--
-- Data for Name: Rooms; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Schedules; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Semesters; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Semesters" (semester_id, year, term, start_date, end_date) FROM stdin;
2025/2	2025	1	2025-11-24	2026-03-15
\.


--
-- Data for Name: TokenBlacklist; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."TokenBlacklist" (token, expires_at) FROM stdin;
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiYjY2MzAyMDA1NzgiLCJyb2xlIjoic3RhZmYiLCJuYW1lIjoiU3VwYWtyaXQiLCJpYXQiOjE3NzAzODc3NzEsImV4cCI6MTc3MDQ3NDE3MX0.rbZ5cV8N_IGSB8wXjSmJOMmDdJr-Ep7q_BtojlbdmUY	2026-02-07 21:22:51
\.


--
-- Data for Name: Users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: TokenBlacklist TokenBlacklist_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TokenBlacklist"
    ADD CONSTRAINT "TokenBlacklist_pkey" PRIMARY KEY (token);


--
-- Name: Booking booking_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Booking"
    ADD CONSTRAINT booking_pkey PRIMARY KEY (booking_id);


--
-- Name: Equipment equipment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Equipment"
    ADD CONSTRAINT equipment_pkey PRIMARY KEY (equipment_id);


--
-- Name: OTP otp_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OTP"
    ADD CONSTRAINT otp_pkey PRIMARY KEY (request_id);


--
-- Name: Rooms rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Rooms"
    ADD CONSTRAINT rooms_pkey PRIMARY KEY (room_id);


--
-- Name: Schedules schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Schedules"
    ADD CONSTRAINT schedules_pkey PRIMARY KEY (schedule_id);


--
-- Name: Semesters semesters_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Semesters"
    ADD CONSTRAINT semesters_pkey PRIMARY KEY (semester_id);


--
-- Name: Users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: Booking booking_approved_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Booking"
    ADD CONSTRAINT booking_approved_by_fkey FOREIGN KEY (approved_by) REFERENCES public."Users"(user_id);


--
-- Name: Booking booking_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Booking"
    ADD CONSTRAINT booking_room_id_fkey FOREIGN KEY (room_id) REFERENCES public."Rooms"(room_id);


--
-- Name: Booking booking_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Booking"
    ADD CONSTRAINT booking_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public."Users"(user_id);


--
-- Name: Equipment equipment_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Equipment"
    ADD CONSTRAINT equipment_room_id_fkey FOREIGN KEY (room_id) REFERENCES public."Rooms"(room_id);


--
-- Name: Schedules schedules_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Schedules"
    ADD CONSTRAINT schedules_room_id_fkey FOREIGN KEY (room_id) REFERENCES public."Rooms"(room_id);


--
-- Name: Schedules schedules_semester_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Schedules"
    ADD CONSTRAINT schedules_semester_id_fkey FOREIGN KEY (semester_id) REFERENCES public."Semesters"(semester_id);


--
-- PostgreSQL database dump complete
--

\unrestrict Fi9klVqovjZscT1ndIovpsritOPzhbiRdKA10SxcwSvTddisb5cdsn1raGYvQiD

